{% extends "base.html.twig" %}

{% block body %}
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Créez votre compte</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>

            <p class="text-center mt-3">Vous avez déjà un compte ? <a href="connexion">Connectez-vous</a></p>

            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- Registration Form -->
                    <form action="inscription" method="post" class="needs-validation" novalidate>
                        <!-- Firstname input-->
                        <div class="form-floating mb-3">
                            <input class="form-control {% if checkErrors.firstname %}is-invalid{% elseif checkErrors is defined %}is-valid{% endif %}" type="text" id="firstname" name="firstname" placeholder="Prénom" value="{{ dto.firstname }}" required />
                            <label for="firstname">Prénom</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez renseigner votre Prénom</div>
                            {% if checkErrors.firstname %}
                                {% for key, value in checkErrors.firstname %}
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control {% if checkErrors.name %}is-invalid{% elseif checkErrors is defined %}is-valid{% endif %}" id="name" name="name" placeholder="Nom" value="{{ dto.name }}" required />
                            <label for="name">Nom</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez renseigner votre nom</div>
                            {% if checkErrors.name %}
                                {% for key, value in checkErrors.name %}
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Email input-->
                        <div class="form-floating mb-3">
                            <label for="email">Email</label><br />
                            <input type="email" class="form-control {% if checkErrors.email %}is-invalid{% elseif checkErrors is defined %}is-valid{% endif %}" id="email" name="email" value="{{ dto.email }}" required />
                            <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez renseigner votre email correctement</div>
                            {% if checkErrors.email %}
                                {% for key, value in checkErrors.email %}
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Password input-->
                        <div class="form-floating mb-3">
                            <label for="password">Choisissez votre mot de passe</label><br />
                            <input type="password" class="form-control {% if checkErrors.password %}is-invalid{% elseif checkErrors is defined %}is-valid{% endif %}" id="password" name="password" required />
                            <div class="invalid-feedback" data-sb-feedback="name:required">Veuillez entrer un mot de passe</div>
                            {% if checkErrors.password %}
                                {% for key, value in checkErrors.password %}
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Bio input-->
                        <div class="form-floating mb-3">
                            <label for="content">Biographie</label><br />
                            <textarea class="form-control {% if checkErrors.bio %}is-invalid{% elseif checkErrors is defined %}is-valid{% endif %}" id="bio" name="bio" required>{{ dto.bio }}</textarea>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Veuillez entrer votre contenu.</div>
                            {% if checkErrors.bio %}
                                {% for key, value in checkErrors.bio %}
                                    <div class="invalid-feedback" data-sb-feedback="name:required">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl" type="submit" value="Envoyer">S'inscire</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include 'script.html.twig' %}
{% endblock %}
