{% extends "base.html.twig" %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading" id="heading">
                        {% if session.LOGGED is same as true %}
                        <h3>Bonjour {{ session.USER.name }} et bienvenue sur le blog !</h3>
                        <span class="subheading">Découvre nos derniers posts sans plus attendre</span>
                        <br>
                        {% if session.USER.status is same as 'admin' %}
                            <button class="btn btn-secondary mt-3"><a href="/P5_Blog_Guillaume_De_Backre/post/create">Créer un post</a></button>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
                <!-- Main Content-->
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <!-- Post preview-->
                            {% if posts %}
                            {% for post in posts %}
                            <div class="post-preview">
                                <a href="post/{{ post.id }}">
                                    <h2 class="post-title"> {{ post.title }} </h2>
                                </a>
                                    <h3 class="post-subtitle"> {{ post.chapo }} </h3>

                                <p class="post-meta">
                                    Posté le {{ post.lastUpdate }}
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </html>
{% endblock %}
